body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #eaf2f8, #ffffff);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
}

form label {
    font-weight: 600;
    display: block;
    margin-top: 15px;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form select,
form input[type="file"] {
    width: 100%;
    padding: 10px 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

form input[type="checkbox"] {
    margin-right: 8px;
}

button {
    margin-top: 20px;
    background-color: #2980b9;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #1c5f8d;
}

.form-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
}

.side-image {
    max-width: 300px;
    height: auto;
    border-radius: 15px;
}


.logo {
    width: 120px;
    margin-bottom: 20px;
}

.btn-voltar {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-voltar:hover {
    background-color: #0056b3;
}
