<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pedido Enviado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='logo1.png') }}" alt="Logo" class="logo">

        <h1>Pedido enviado com sucesso!</h1>
        <p>Obrigado por sua solicitação!
            Sua requisição foi recebida com sucesso e entrou na fila de impressão.</p>
        <p>Você será notificado por e-mail assim que o material estiver pronto para retirada ou uso.</p>

        <a href="/" class="btn-voltar">Fazer outro pedido</a>
    </div>
</body>
</html>
